<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/10_minutes_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This guide comes directly from the [10 Minute Guide to Pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html) on the Pandas official website. I ported it into this kernel to make the code more accessible. This guide is geared towards beginners who haven't used Pandas before. It has great examples on how powerful Pandas can be. Enjoy!

### This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Object Creation
See the [Data Structure Intro section](Data Structure Intro section). Creating a Series by passing a list of values, letting pandas create a default integer index:

In [0]:
s = pd.Series([1,3,5,np.nan,6,8])
s

Creating a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame) by passing a numpy array, with a datetime index and labeled columns:

In [0]:
dates = pd.date_range('20141101', periods=6)
dates

In [0]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=['one','two','three','four'])
df

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [0]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....: 
df2

Having specific [dtypes](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes):

In [0]:
df2.dtypes


# Viewing Data
See the [Basics section](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics)
See the top & bottom rows of the frame

In [0]:
df.head()

In [0]:
df.tail(3)

Display the index, columns, and the underlying numpy data

In [0]:
df.index

In [0]:
df.columns

In [0]:
df.values

Describe shows a quick statistic summary of your data

In [0]:
df.describe()

Transposing your data

In [0]:
df.T

Sorting by an axis (In this case, sorting the columns in reverse alphabetical order):

In [0]:
df.sort_index(axis=1, ascending=False)

Sorting by values

In [0]:
df.sort_values(by='two')

# Selection

Note While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.
See the indexing documentation [Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and [MultiIndex / Advanced Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

## Getting

Selecting a single column, which yields a Series, equivalent to df.one

In [0]:
df['one']

In [0]:
df.one

Selecting via [], which slices the rows.

In [0]:
df[0:3]

In [0]:
df['20141102':'20141104']

## Selecting by Label

See more in[ Selection by Label](https://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-label)

For getting a cross section using a label

In [0]:
df.loc[dates[0]]

Selecting on a multi-axis by label

In [0]:
df.loc[:,['one','two']]

Showing label slicing, both endpoints are included

In [0]:
df.loc['20141102':'20141104',['one','two']]

Reduction in the dimensions of the returned object

In [0]:
df.loc['20141102',['one','two']]

For getting a scalar value

In [0]:
df.loc[dates[0],'one']

For getting fast access to a scalar (equiv to the prior method)

In [0]:
df.at[dates[0],'one']

## Selection by Position

See more in [Selection by Position](Selection by Position)

Select via the position of the passed integers

In [0]:
df.iloc[3]

By integer slices, acting similar to numpy/python

By lists of integer position locations, similar to the numpy/python style

In [0]:
df.iloc[[1,2,4],[0,2]]

For slicing rows explicitly

In [0]:
df.iloc[1:3,:]

For slicing columns explicitly

In [0]:
df.iloc[:,1:3]

For getting a value explicitly

In [0]:
df.iloc[1,1]

For getting fast access to a scalar (equiv to the prior method)

In [0]:
df.iat[0,0]

## Boolean Indexing
Using a single columnâ€™s values to select data.

In [0]:
df[df.one > 0.5]

Selecting values from a DataFrame where a boolean condition is met.

In [0]:
df[df>0]

Using the isin method for filtering:

In [0]:
df2 = df.copy()
df2['five'] = ['one', 'one','two','three','four','three']
df2

In [0]:
df2[df2['five'].isin(['two','four'])]

## Setting
Setting a new column automatically aligns the data by the indexes

In [0]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20141101', periods=6))
s1

In [0]:
df['six'] = s1
df

Setting values by label:

In [0]:
df.at[dates[0],'one'] = 0
df

Setting values by position:

In [0]:
df.iat[0,1] = 0
df

In [0]:
df.loc[:,'four'] = np.array([5] * len(df))
df

A where operation with setting.

In [0]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

## Missing Data
pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the [Missing Data section](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [0]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

To drop any rows that have missing data:

In [0]:
df1.dropna(how='any')

Filling missing data:

In [0]:
df1.fillna(value=5)

## Operations
See the [Basic section on Binary Ops](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)

### Stats
Operations in general *exclude* missing data.

Performing a descriptive statistic:

In [0]:
df.mean()

Same operation on the other axis:

In [0]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension. The following code also shifts the data vertically, leaving NaN values in the unoccupied spaces

In [0]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

In [0]:
df.sub(s, axis='index')

### Apply
Applying functions to the data

In [0]:
df.apply(np.cumsum)

### Histogramming 
See more at [Histogramming and Discretization](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [0]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [0]:
s.value_counts()

### String Methods
Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](https://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [0]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [0]:
s.str.lower()

# Merge
### Concat
pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the [Merging section](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging)

Concatenating pandas objects together with [concat()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html#pandas.concat):

In [0]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [0]:
#break it into pieces:
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [0]:
pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

In [0]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
left

In [0]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
right

In [0]:
pd.merge(left,right,on='key')

Another example that can be given is:

In [0]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left

In [0]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
right

In [0]:
pd.merge(left, right, on='key')

### Append
Append rows to a dataframe. See the [Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)

In [0]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [0]:
s = df.iloc[3]
s

In [0]:
df.append(s,ignore_index=True)

# Grouping
By â€œgroup byâ€ we are referring to a process involving one or more of the following steps

Splitting the data into groups based on some criteria
Applying a function to each group independently
Combining the results into a data structure

See the [Grouping section](https://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [0]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                           'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                           'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
df

Grouping and then applying a function sum to the resulting groups.

In [0]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, which we then apply the function.

In [0]:
df.groupby(['A','B']).sum()

# Reshaping
See the sections on [Hierarchical Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical) and [Reshaping](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking).

### Stack

In [0]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
   ....:                      'foo', 'foo', 'qux', 'qux'],
   ....:                     ['one', 'two', 'one', 'two',
   ....:                      'one', 'two', 'one', 'two']]))
tuples

In [0]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [0]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

The [stack()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack) method â€œcompressesâ€ a level in the DataFrameâ€™s columns.

In [0]:
stacked = df.stack()
stacked

With a â€œstackedâ€ DataFrame or Series (having a MultiIndex as the index), the inverse operation of [stack()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack) is [unstack()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html#pandas.DataFrame.unstack), which by default unstacks the last level:

In [0]:
stacked.unstack()

In [0]:
stacked.unstack(1)

In [0]:
stacked.unstack(0)

### Pivot Tables
See the section on [Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-pivot).

In [0]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
   .....:                    'B' : ['A', 'B', 'C'] * 4,
   .....:                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
   .....:                    'D' : np.random.randn(12),
   .....:                    'E' : np.random.randn(12)})
df

We can produce pivot tables from this data very easily:

In [0]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

# Time Series
pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the [Time Series section](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries).

In [0]:
rng = pd.date_range('1/1/2017', periods=100, freq='S')
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts.resample('5Min').sum()

Time zone representation

In [0]:
rng = pd.date_range('3/6/2017 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
ts

In [0]:
ts_utc = ts.tz_localize('UTC')
ts_utc

Convert to another time zone

In [0]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations

In [0]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [0]:
ps = ts.to_period('M')
ps

In [0]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [0]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
ts.head()

# Categoricals
pandas can include categorical data in a DataFrame. For full docs, see the [categorical introduction](https://pandas.pydata.org/pandas-docs/stable/categorical.html#categorical) and the [API documentation](https://pandas.pydata.org/pandas-docs/stable/api.html#api-categorical).

In [0]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df

Convert the raw grades to a categorical data type:

In [0]:
df["grade"] = df["raw_grade"].astype("category")
df["grade"]

Rename the categories to more meaningful names (assigning to Series.cat.categories is inplace!)

In [0]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under Series .cat return a new Series per default).

In [0]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
df["grade"]

Sorting is per order in the categories, not lexical order.

In [0]:
df.sort_values(by="grade")

Grouping by a categorical column shows also empty categories.

In [0]:
df.groupby("grade").size()

# Plotting
[Plotting](https://pandas.pydata.org/pandas-docs/stable/visualization.html#visualization) docs

In [0]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

On DataFrame, plot() is a convenience to plot all of the columns with labels:

In [0]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
   .....:                   columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

# Getting Data In/Out
### CSV
[Writing to a csv file](https://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv).

In [0]:
df.to_csv('foo.csv')

In [0]:
pd.read_csv('foo.csv')

### HDF5
Reading and writing to [HDFStores](https://pandas.pydata.org/pandas-docs/stable/io.html#io-hdf5).

Writing to a HDF5 Store:

In [0]:
df.to_hdf('foo.h5','df')

Reading from a HDF5 Store:

In [0]:
pd.read_hdf('foo.h5','df')

### Excel
Reading and writing to [MS Excel](https://pandas.pydata.org/pandas-docs/stable/io.html#io-excel).

Writing to an excel file:

In [0]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file:

In [0]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

# Gotchas
If you are trying an operation and you see an exception like:

In [0]:
if pd.Series([False, True, False]):
    print("I was true")

See[ Comparisons](https://pandas.pydata.org/pandas-docs/stable/basics.html#basics-compare) for an explanation and what to do.

See [Gotchas](https://pandas.pydata.org/pandas-docs/stable/gotchas.html#gotchas) as well.