<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/Intro2DataVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

url="https://raw.githubusercontent.com/KeithGalli/pandas/master/pokemon_data.csv"
df=pd.read_csv(url)
df.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

# **Reading Data in Pandas**

In [0]:
#### Read Headers
df.columns

## Read each Column
print(df[['Name', 'Type 1', 'HP']].head(5))

## Read Each Row
print(df.iloc[0:4])
for index, row in df.iterrows():
    print(index, row['Name'])
df.loc[df['Type 1'] == "Ghost"]

## Read a specific location (R,C)
print(df.iloc[2,1])