<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/ListBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Basics
A list is a mutable, ordered collection of objects. *"Mutable"* means a list can be altered after it is created. You can, for example, add new items to a list or remove existing items. Lists are heterogeneous, meaning they can hold objects of different types.

Construct a list with a comma separated sequence of objects within square brackets:

In [1]:
my_list = ["Lesson", 5, "Is Fun?", True]

print(my_list)

['Lesson', 5, 'Is Fun?', True]

Alternatively, you can construct a list by passing some other iterable into the `list()` function. An iterable describes an object you can look through one item at a time, such as lists, tuples, strings and other sequences.

In [2]:
second_list = list("Life is Study")  # Create a list from a string

print(second_list)

['L', 'i', 'f', 'e', ' ', 'i', 's', ' ', 'S', 't', 'u', 'd', 'y']

A list with no contents is known as the empty list:

In [3]:
empty_list = []

print( empty_list )

[]

You can add an item to an existing list with the `list.append()` function:

In [4]:
empty_list.append("I'm no longer empty!")

print(empty_list)

["I'm no longer empty!"]

Remove a matching item from a list with `list.remove():`

In [5]:
my_list.remove(5)

print(my_list)

['Lesson', 'Is Fun?', True]

*Note: Remove deletes the first matching item only.*

Join two lists together with the `+` operator:

In [6]:
combined_list = my_list + empty_list

print(combined_list)

['Lesson', 'Is Fun?', True, "I'm no longer empty!"]

Check the length, maximum, minimum and sum of a list with the `len()`, `max()`, `min()` and `sum()` functions, respectively.

In [7]:
num_list = [1, 3, 5, 7, 9]
print( len(num_list))                # Check the length
print( max(num_list))                # Check the max
print( min(num_list))                # Check the min
print( sum(num_list))                # Check the sum
print( sum(num_list)/len(num_list))  # Check the mean*

5
9
1
25
5.0

Note: *Python does not have a built in function to calculate the mean, but the numpy library we will introduce in upcoming lessons does.*

You can check whether a list contains a certain object with the "in" keyword:

In [8]:
1 in num_list

True

Add the keyword "`not`" to test whether a list does not contain an object:

In [9]:
1 not in num_list

False

Count the occurrences of an object within a list using the list.count() function:

In [10]:
num_list.count(3)

1

Other common list functions include `list.sort()` and `list.reverse()`:

In [11]:
new_list = [1, 5, 4, 2, 3, 6]      # Make a new list

new_list.reverse()                 # Reverse the list
print("Reversed list", new_list)

new_list.sort()                    # Sort the list
print("Sorted list", new_list)

Reversed list [6, 3, 2, 4, 5, 1]
Sorted list [1, 2, 3, 4, 5, 6]


# List Indexing and Slicing

Lists and other Python sequences are indexed, meaning each position in the sequence has a corresponding number called the index that you can use to look up the value at that position. Python sequences are zero-indexed, so the first element of a sequence is at index position zero, the second element is at index 1 and so on. Retrieve an item from a list by placing the index in square brackets after the name of the list:

In [12]:
another_list = ["Hello","my", "bestest", "old", "friend."]

print (another_list[0])
print (another_list[2])

Hello
bestest

If you supply a negative number when indexing into a list, it accesses items starting from the end of the `list (-1)` going backward:

In [13]:
print (another_list[-1])
print (another_list[-3])

friend.
bestest