<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/Statistics_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [STATISTICS FOUNDATION 1](https://www.linkedin.com/learning/statistics-foundations-1)

In [0]:
# to upload CSV file
from google.colab import files
uploaded = files.upload()

Saving gender_submission.csv to gender_submission.csv

In [0]:
# Imports
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

%matplotlib inline

In [3]:
url_train = 'https://raw.githubusercontent.com/daddyawesome/Statistics-in-R/master/titanic_train.csv'
url_test = 'https://raw.githubusercontent.com/daddyawesome/Statistics-in-R/master/titanic_test.csv'
url_gendersub ='https://raw.githubusercontent.com/daddyawesome/Statistics-in-R/master/titanic_gender_submission.csv'

titanic_train = pd.read_csv(url_train)       # Read the data
titanic_test = pd.read_csv(url_test)       # Read the data
titanic_gendersub = pd.read_csv(url_gendersub)       # Read the data

'''
It's a good idea to start off by checking the dimensions of your data set with df.shape and the variable data types of df.dtypes.
'''
x = titanic_train.shape           # Check dimensions
y = titanic_test.shape
z = titanic_gendersub.shape

print(x)
print(y)
print(z)

(891, 12)
(418, 11)
(418, 2)

In [0]:
titanic_train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

The output shows us that we're working with a set of 889 records and 12 columns. Several of the column variables are encoded as numeric data types (ints and floats) but a few of them are encoded as "object". Let's check the head of the data to get a better sense of what the variables look like:

In [0]:
print(titanic_train.head(5))  # Check the first 5 rows
print( titanic_train.describe() )

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]
       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [0]:
weights = [180,175,175,170,170,170,170,170,170,165,165,165,160,160,160,160,155,155,150,150,150,150,150,150,145,145,145,145,145,140,140,140,140,140,135,135,135,135,130,125,125,125,125,120,120,115,115,110,110,110]
df = pd.DataFrame(weights)
my_tab = pd.crosstab(index=df[0],  # Make a crosstab
                              columns="count")      # Name the count column
my_tab

col_0  count
0
110        3
115        2
120        2
125        4
130        1
135        4
140        5
145        5
150        6
155        2
160        4
165        3
170        6
175        2
180        1

In [0]:
#Computing Z-Scores
a = np.array([ 60, 70, 80, 90, 95, 100])

from scipy import stats

z_score = stats.zscore(a)
percentile = stats.percentileofscore(a,95)

print(z_score)
print(percentile)

[-1.59934197 -0.88852332 -0.17770466  0.53311399  0.88852332  1.24393264]
83.33333333333333