<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/Tuple_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples
Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

Construct a tuple with a comma separated sequence of objects within parentheses:

In [0]:
my_tuple = (1,3,5)

print(my_tuple)

Alternatively, you can construct a tuple by passing an iterable into the `tuple()` function:

In [1]:
my_list = [2,3,1,4]

another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)