<a href="https://colab.research.google.com/github/daddyawesome/PythonStat/blob/master/Tuple_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples
Tuples are an immutable sequence data type that are commonly used to hold short collections of related data. For instance, if you wanted to store latitude and longitude coordinates for cities, tuples might be a good choice, because the values are related and not likely to change. Like lists, tuples can store objects of different types.

Construct a tuple with a comma separated sequence of objects within parentheses:

In [7]:
my_tuple = (1,3,5)

print(my_tuple)

(1, 3, 5)

Alternatively, you can construct a tuple by passing an iterable into the `tuple()` function:

In [8]:
my_list = [2,3,1,4]

another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)

Tuples generally support the same indexing and slicing operations as lists and they also support some of the same functions, with the caveat that tuples cannot be changed after they are created. This means we can do things like find the length, max or min of a tuple, but we can't append new values to them or remove values from them:

In [9]:
another_tuple[2]     # You can index into tuples

1

In [10]:
another_tuple[2:4]   # You can slice tuples

(1, 4)

In [11]:
# You can use common sequence functions on tuples:

print( len(another_tuple))   
print( min(another_tuple))  
print( max(another_tuple))  
print( sum(another_tuple))

4
1
4
10

In [12]:
another_tuple.append(1)    # You can't append to a tuple

AttributeError: ignored

In [13]:
del another_tuple[1]      # You can't delete from a tuple

TypeError: ignored

You can sort the objects in tuple using the `sorted()` function, but doing so creates a new list containing the result rather than sorting the original tuple itself like the `list.sort()` function does with lists:

In [14]:
sorted(another_tuple)

[1, 2, 3, 4]

In [15]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = tuple1[:]                       # Make a shallow copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

To avoid this behavior, make a deepcopy using the copy library:

In [16]:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3])

# Strings
We already learned a little bit about strings in the lesson on basic data types, but strings are technically sequences: immutable sequences of text characters. As sequences, they support indexing operations where the first character of a string is index 0. This means we can get individual letters or slices of letters with indexing:

In [17]:
my_string = "Hello world"

my_string[3]    # Get the character at index 3

'l'

In [19]:
my_string[3:]   # Slice from the third index to the end

'lo world'

In [20]:
my_string[::-1]  # Reverse the string

'dlrow olleH'

In addition, certain sequence functions like `len()` and `count()` work on strings:

In [22]:
len(my_string)

11

In [23]:
my_string.count("l")  # Count the l's in the string

3

As immutable objects, you can't change a string itself: every time you transform a string with a function, Python makes a new string object, rather than actually altering the original string that exists in your computer's memory.

Strings have many associated functions. Some basic string functions include:

In [24]:
# str.lower()     

my_string.lower()   # Make all characters lowercase

'hello world'

In [25]:
# str.upper()     

my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [26]:
# str.title()

my_string.title()   # Make the first letter of each word uppercase

'Hello World'

Find the index of the first appearing substring within a string using `str.find()`. If the substring does not appear, `find()` returns -1:

In [27]:
my_string.find("W")

-1

Notice that since strings are immutable, we never actually changed the original value of my_string with any of the code above, but instead generated new strings that were printed to the console. This means "W" does not exist in my_string even though our call to `str.title()` produced the output 'Hello World'. The original lowercase "w" still exists at index position 6:

In [28]:
my_string.find("w")

6

Find and replace a target substring within a string using `str.replace()`:

In [29]:
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring

'Hello friend'

Split a string into a list of substrings based on a given separating character with `str.split()`:

In [30]:
my_string.split()     # str.split() splits on spaces by default

['Hello', 'world']

In [31]:
my_string.split("l")  # Supply a substring to split on other values

['He', '', 'o wor', 'd']

Split a multi-line string into a list of lines using str.splitlines():

In [32]:
multiline_string = """I am
a multiline 
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']